NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/hellomail
ENCRYPTION_KEY=<openssl rand -hex 32>
JWT_ACCESS_SECRET=<openssl rand -hex 32>
JWT_REFRESH_SECRET=<openssl rand -hex 32>
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN_DAYS=30
FRONTEND_URL=http://localhost:3000
LOG_LEVEL=info
REDIS_URL=redis://127.0.0.1:6379
